{% extends "layout.html" %}

{% block content %}
    <div class="forum-view">
        <ol class="breadcrumb flaskbb-breadcrumb">
            <li>Hadoop 集群</li>
            <li class="active"><a href="{{ url_for('cluster.view_cluster', cluster_id=cluster.id) }}"> 集群 {{ cluster.id }}</a></li>
        </ol>

        <div class="row controls-row">
            <div class="pull-left">
                <div class="btn-group btn-group-sm navbar-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">集群操作 <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('cluster.deploy_cluster', cluster_id=cluster.id) }}">集群部署</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('cluster.open_cluster', cluster_id=cluster.id) }}">集群映射到外网</a></li>
                        <li><a href="{{ url_for('cluster.close_cluster', cluster_id=cluster.id) }}">集群关闭映射到外网</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('cluster.delete_cluster', cluster_id=cluster.id) }}">集群删除</a></li>
                    </ul>
                </div>

                <div class="btn-group btn-group-sm navbar-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">工具集 <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('tools.mr_view_cluster', cluster_id=cluster.id) }}">查看 MR 任务列表</a></li>
                        <li><a href="{{ url_for('tools.mr_new_task', cluster_id=cluster.id) }}">新建 MR 任务</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('tools.hive_view_cluster', cluster_id=cluster.id, db_name='default') }}">查看 Hive 数据表</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="panel forum-panel">
            <div class="panel-heading forum-head">
                <span class="fa fa-arrow-circle-right"></span>
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo" aria-expanded="false" aria-controls="demo">
                  Hadoop 集群 {{ cluster.id }}
                </button>
                <span class="fa fa-link"></span>
                <div id="demo" class="collapse">
                    <ul>
                        <li>集群类型：{{ cluster.type }}</li>
                        <li>机器配置：{{ cluster.machine }}</li>
                        <li>集群规模：{{ cluster.type }}</li>
                        <li>内部访问地址：{{ cluster.server_ui }}</li>
                        <li>当前节点数量：{{ cluster.agent_count }}</li>
                    </ul>
                </div>
            </div>

            <div class="panel-body forum-body">
            <div class="forum-meta">
                <div class="col-sm-4 topic-name">节点状态</div>
                <div class="col-sm-3 topic-stats">节点名称</div>
                <div class="col-sm-2 topic-stats">宿主 IP</div>
                <div class="col-sm-3 topic-last-post">服务标识</div>
            </div>
            {% if pods %}
                {% for pod in pods %}
                    <div class="row forum-row hover clearfix">
                        <div class="col-sm-4 topic-stats">
                            {% if pod['pod_status'] == "Running" %}
                                <span class="label label-success"> {{ pod['pod_status'] }}</span>
                            {% else %}
                                <span class="label label-warning"> {{ pod['pod_status'] }}</span>
                            {% endif %}
                        </div>
                        <div class="col-sm-3 topic-stats">
                            <a class="btn btn-link" data-toggle="modal" data-target="#myModal">{{ pod['pod_name'] }}</a>
                            <span class="fa fa-link"></span>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                          <span class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">节点信息</h4>
                                      </div>
                                      <div class="modal-body">
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div><!-- end Modal -->
                        </div>
                        <div class="col-sm-2 topic-stats">
                            {{ pod['pod_node_ip'] }}
                        </div>
                        <div class="col-sm-3 topic-stats">
                            <span class="label label-primary"> {{ pod['pod_type'] }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row paas-row clearfix">
                    <div class="col-sm-12">
                        <p class="text-danger">No Record.</p>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
