{% extends "layout.html" %}

{% block content %}

    <div class="panel page-panel">
        <div class="panel-heading page-head">
            <a id="btn_refresh" class="btn btn-link"
               href="{{ url_for('cluster.deploy_cluster', cluster_id=cluster.id) }}"><span class="fa fa-refresh"></span>
                刷新</a> Hadoop 集群 {{ cluster.id }}
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>节点名称</th>
                    <th>节点 IP</th>
                    <th>节点状态</th>
                    <th>节点是否注册</th>
                </tr>
                </thead>
                <tbody>
                {% if sss %}
                    {% for ss in sss %}
                        <tr>
                            <td>{{ ss.name }}</td>
                            <td>{{ ss.ip }}</td>
                            <td>
                                {% if ss.status== "Running" %}
                                    <span class="label label-success">{{ ss.status }}</span>
                                {% else %}
                                    <span class="label label-danger">{{ ss.status }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if ss.register %}
                                    <span class="label label-success">{{ ss.register }}</span>
                                {% else %}
                                    <span class="label label-danger">{{ ss.register }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

            <form class="form-horizontal" role="form" method="POST">
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="controls">
                        {{ form.submit(class="btn btn-primary") }}
                        或 <a class="btn btn-link"
                             href="{{ url_for('cluster.index') }}">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
