{% extends "layout.html" %}

{% block content %}
{% from "macros.html" import render_submit_field %}
    <div class="forum-view">
        <ol class="breadcrumb flaskbb-breadcrumb">
            <li class="active"><a class="btn btn-link" href="{{ url_for('cluster.index') }}">Hadoop 集群列表</a></li>
            <li class="active">集群删除确认</li>
        </ol>

        <div class="panel page-panel">
            <div class="panel-heading page-head">
                <span class="fa fa-arrow-circle-right"></span> 删除集群
            </div>

            <div class="panel-body">
                <div class="bs-callout bs-callout-danger">
                    <h4>确定要删除集群 <strong>{{ cluster.name }}</strong> 吗？</h4>
                    <p>（注意：相关节点及任务都将被删除，请谨慎操作！）</p>
                </div>
                <form class="form-horizontal" role="form" method="post">
                    {{ form.hidden_tag() }}
                    {{ render_submit_field(form.submit)}}
                </form>
            </div>

            <div class="panel-info">
                <p>或者 <strong><a class="btn btn-link" href="{{ url_for('cluster.index') }}">取消</a></strong> 操作</p>
            </div>
        </div>
    </div>

{% endblock %}
