{% extends "layout.html" %}

{% block content %}
{% from 'macros.html' import render_pagination, topic_pages %}

    <div class="index-view">
        <ol class="breadcrumb flaskbb-breadcrumb">
            Hadoop 集群 / <li class="active"><a class="btn btn-link" href="{{ url_for('cluster.index') }}">Hadoop 集群列表</a></li>
        </ol>

        <div class="panel category-panel">
            <div class="panel-heading category-head">
                <span class="fa fa-arrow-circle-right"></span> Hadoop 集群列表
            </div>

            <div class="panel-body category-body">
                <div class="category-meta">
                    <div class="col-sm-12 forum-name">集群信息</div>
                </div>
                {% if clusters %}
                    {% for cluster in clusters %}
                        <div class="row category-row hover">
                            <div class="col-sm-12 forum-info">
                                <div class="forum-name">
                                    Name: {{ cluster.name }}
                                </div>
                                <div class="forum-name">
                                    {% if cluster.status == 'succeed' %}
                                        Status: <span class="label label-success">{{ cluster.status }}</span>
                                    {% elif cluster.status == 'error' %}
                                        Status: <span class="label label-danger">{{ cluster.status }}</span>
                                    {% else %}
                                        Status: <span class="label label-warning">{{ cluster.status }}</span>
                                    {% endif %}
                                </div>
                                <div class="forum-name">
                                    Nodes: <span class="badge"> {{ cluster.current_nodes }} / {{ cluster.type }} </span>
                                </div>
                                <div class="forum-name">
                                    Description: {{ cluster.description }}
                                </div>
                                <div class="forum-name">
                                    Created: {{ cluster.createtime_format }}
                                </div>
                                <div class="forum-name">
                                    Running: {{ cluster.fromNow }} days ago
                                </div>
                                <div class="forum-name">
                                    {% if cluster.open_url %}
                                        Internet: <a href="http://{{ cluster.open_url }}" target="_blank">{{ cluster.open_url }}</a>
                                        <span class="fa fa-link"></span>
                                    {% else %}
                                        Internet: Null
                                    {% endif %}
                                </div>
                                <div class="forum-name">
                                    Jobs: <a href="{{ url_for('tools.mr_view_cluster', cluster_id=cluster.id) }}"><span class="badge">{{ cluster.task_count }}</span></a>
                                </div>
                                <div class="pull-left">
                                    <div class="btn-group btn-group-sm navbar-btn">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">集群操作 <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ url_for('cluster.deploy_cluster', cluster_id=cluster.id) }}">集群部署</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ url_for('cluster.open_cluster', cluster_id=cluster.id) }}">集群映射到外网</a></li>
                                            <li><a href="{{ url_for('cluster.close_cluster', cluster_id=cluster.id) }}">集群关闭映射到外网</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ url_for('cluster.delete_cluster', cluster_id=cluster.id) }}">集群删除</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group btn-group-sm navbar-btn">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">工具集 <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ url_for('tools.mr_view_cluster', cluster_id=cluster.id) }}">查看 MR 任务列表</a></li>
                                            <li><a href="{{ url_for('tools.mr_new_task', cluster_id=cluster.id) }}">新建 MR 任务</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ url_for('tools.hive_view_cluster', cluster_id=cluster.id, db_name='default') }}">查看 Hive 数据表</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-sm-12 clearfix">
                        No Record.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
