{% extends "layout.html" %}

{% block content %}
    <div class="forum-view">
        <ol class="breadcrumb flaskbb-breadcrumb">
            <li>Manager</li>
            <li class="active">Consul 服务</li>
        </ol>

        <div class="row controls-row">
            <div class="pull-left">
            </div>
        </div>

        <div class="panel forum-panel">
            <div class="panel-heading forum-head">
                <a class="btn btn-link" href="{{ url_for('manager.consul') }}">
                    <span class="fa fa-refresh"></span> 刷新
                </a>
                <span class="fa fa-arrow-circle-right"></span> Consul Node 列表
            </div>

            <div class="panel-body forum-body">
                <table class="table table-bordered" style="table-layout: fixed;word-wrap: break-word">
                    <thead style="background: #eaf1f5">
                    <tr>
                        <th>Node 注册</th>
                        <th>Node IP</th>
                        <th>Service 注册</th>
                        <th>Service 状态</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if nodes %}
                            {% for node in nodes %}
                                <tr>
                                    <td>
                                        {{ node['Node'] }}
                                    </td>
                                    <td>
                                        {{ node['Address'] }}
                                    </td>
                                    <td>
                                        -
                                    </td>
                                    <td>
                                        -
                                    </td>
                                </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
