{% extends "layout.html" %}

{% block content %}
    <div class="forum-view">
        <ol class="breadcrumb flaskbb-breadcrumb">
            <li>Manager</li>
            <li class="active">Users</li>
        </ol>

        <div class="row controls-row">
            <div class="pull-left">
            </div>
        </div>

        <div class="panel forum-panel">
            <div class="panel-heading forum-head">
                <a class="btn btn-link" href="{{ url_for('manager.users') }}">
                    <span class="fa fa-refresh"></span> 刷新
                </a>
                <span class="fa fa-arrow-circle-right"></span> User 列表
            </div>

            <div class="panel-body forum-body">
                <table class="table table-bordered" style="table-layout: fixed;word-wrap: break-word">
                    <thead style="background: #eaf1f5">
                    <tr>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>角色</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if users %}
                            {% for user in users %}
                        <tr>
                            <td>
                                {{ user.username }}
                            </td>
                            <td>
                                {{ user.username }}
                            </td>
                            <td>
                                {% if user.is_admin %}
                                    <span class="tag tag-danger"> 管理员</span>
                                {% else %}
                                    <span class="tag tag-default"> 普通用户</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
